/* BLOCK: Defaults */
.block {
    padding: var(--space-half) var(--space);
    border-top: 1px solid var(--color-dark--sheer);
    margin-top: var(--space);
    max-width: var(--layout-width--max);
}

.block > *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* BLOCK: Users */
.block-users {
    max-width: 100%;
    overflow-x: auto;
}

.block-users .users {
    min-width: var(--layout-width--read);
}

.block-users .user td {
    vertical-align: middle;
}

.block-users .photo img {
    width: var(--space-quad);
    border-radius: 50%;
}

.block-users .users-footer {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: small;
    padding: var(--space-half) var(--space);
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .block:first-of-type {
        border-top: none;
        margin-top: 0;
    }

    .block-users {
        overflow-x: hidden;
    }

    .block-users .users-footer {
        width: auto;
    }
}
