/* HEADER: Branding */
.header-branding {
    position: absolute;
    z-index: 9998;
    width: 7rem;
    padding: var(--space-half) var(--space);
}

.header-branding .logo {
    display: none;
    max-width: 240px;
}

/* HEADER: Primary Navigation */
.header-nav {
    position: fixed;
    z-index: 9990;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 var(--space-half);
    background-color: var(--color-dark);
    box-shadow: var(--shadow-large);
}

.header-nav a {
    color: var(--color-light--alt);
}

.header-nav > .partial-menu > .menu > .menu-item {
    width: 25%;
}

.header-nav > .partial-menu > .menu > .menu-item > a {
    height: 6rem;
    flex-direction: column;
}

.header-nav > .partial-menu > .menu > .menu-item.is-active a {
    color: var(--color-accent);
}

.header-nav > .partial-menu > .menu > .menu-item > a > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size--large);
    height: var(--font-size--huge);
}

.header-nav .menu-child {
    bottom: 6.25rem;
    right: 0;
    border-radius: 1rem 0 0 0;
}

/* HEADER: Responsive - Tablet */
@media screen and (min-width: 768px) {
    .header-branding {
        position: relative;
        width: 100%;
        border-bottom: 1px solid var(--color-dark--sheer);
        z-index: -1;
    }

    .header-branding .emblem {
        position: fixed;
        width: 65vw;
        bottom: 5vh;
        right: -5vh;
        opacity: 0.15;
    }

    .header-branding .logo {
        display: block;
    }
}

/* PARTIAL: Responsive - Desktop */
@media screen and (min-width: 1024px) {
    .header-branding {
        position: absolute;
        padding: var(--space);
        width: 300px;
        border-bottom: none;
        z-index: 9998;
    }

    .header-branding .emblem {
        display: none;
    }

    .header-nav {
        width: 300px;
        height: 100%;
        padding: var(--space);
        background-color: var(--color-light--alt);
        box-shadow: var(--shadow-small);
    }

    .header-nav a {
        color: var(--color-dark);
    }


    .header-nav > .partial-menu > .menu > .menu-item {
        width: 100%;
    }

    .header-nav > .partial-menu > .menu > .menu-item > a {
        flex-direction: row;
        justify-content: flex-start;
        height: auto;
        padding-left: 0;
        color: var(--color-dark);
    }

    .header-nav > .partial-menu > .menu > .menu-item > a:hover {
        color: var(--color-accent);
    }

    .header-nav > .partial-menu > .menu > .menu-item > a > .icon {
        height: auto;
        margin-right: 1rem;
    }
}